
.resultContainer {
    margin-top: 18px;
}

.resultTitleContainer {
    margin-bottom: 4px;
}

.resultBodyContainer {
    margin-left: 8px;
}

.resultName {
    font-size: 21px;
    line-height: 32px;
}

.resultCreator {
    color: #666666;
}

.resultTrope {
    color: #006621;
}

.resultTrope:link,visited,hover,active {
    color: #006621;
    text-decoration: none;
}

.resultTropeCount {
    margin-left: 8px;
    color: #777777;
}
